<nav class="navbar navbar-inverse bg-inverse">
  <a class="navbar-brand" href="#">Taxistas</a>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Siguiendo a: <strong class="text-primary">
        </strong>
      </h1>
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="30">
        <agm-marker
        *ngFor="let item of items"
        [label]="item.nombre"
        [latitude]="item.lat"
        [longitude]="item.lng"></agm-marker>
      </agm-map>

    </div>
    <div class="col-md-4">
      <h1>Taxistas</h1>
      <p>Seleccione para seguir</p>
      <ul class="list-group">
        <li class="list-group-item"
            (click)="seguir_taxista(item)"
            *ngFor="let item of items">{{item.nombre}}</li>

      </ul>
      <button class="btn btn-primary btn-block"
              (click)="dejar_seguir()">
        Dejar de seguir.
      </button>
    </div>
  </div>
</div>
